[submodule "externals/jasmine-node"]
    path = externals/jasmine-node
    url = https://github.com/mhevery/jasmine-node.git
[submodule "externals/jasmine"]
    path = externals/jasmine
    url = https://github.com/pivotal/jasmine.git
