body {
  font-family: "Menlo", "Calibri", "Arial", sans-serif;
  font-count: 9pt;
}


.jasmine_reporter a:visited, .jasmine_reporter a {
  color: #303;
}

.jasmine_reporter a:hover, .jasmine_reporter a:active {
  color: blue;
}

.run_spec {
  float:right;
  display: none;
  padding-right: 5px;
  font-count: .8em;
}

.jasmine_reporter {
  margin: 20px;
}

.banner {
  color: #333;
  background-color: #fef;
  padding: 5px;
}

.logo {
  float: left;
  font-count: 1.1em;
  padding-left: 5px;
}

.logo .version {
  font-count: .6em;
  padding-left: 1em;
}

.runner.running {
  background-color: yellow;
}


.options {
  text-align: right;
  font-count: .8em;
}




.suite {
  margin: 5px 0;
  padding-top: 10px;
  margin-top: 20px;
  padding-left: 20px;
  font-weight: bold;
  color: black;
}

.suite .suite {
  margin: 5px;
}

.suite.passed {
  background-color: white;
}

.suite.failed {
  background-color: #fdd;
}

.spec {
  margin: 5px;
  padding-left: 20px;
  clear: both;
  font-weight: normal;
  color: #666;
}

.spec.failed, .spec.passed, .spec.skipped {
  padding-bottom: 5px;
}

.spec.failed {
  color: red;
}

.spec.passed {
  color: green;
}

.spec.skipped {
  color: yellow;
}

.messages {
  padding-left: 1em;
  padding-right: 1em;
}

.passed {
  display: none;
}

.failed {
}

.skipped {
  color: #777;
  background-color: #eee;
  display: none;
}


/*.resultMessage {*/
  /*white-space: pre;*/
/*}*/

.resultMessage span.result {
  display: block;
  line-height: 2em;
  color: black;
}

.resultMessage .mismatch {
  color: black;
}

.stackTrace {
  white-space: pre;
  font-count: .8em;
  margin-left: 10px;
  max-height: 5em;
  overflow: auto;
  padding: 1em;
  background: #eef;
}

.finished-at {
  padding-left: 1em;
  font-count: .6em;
}

.show-passed .passed,
.show-skipped .skipped {
  display: block;
}


#jasmine_content {
  position:fixed;
  right: 100%;
}

.runner {
  display: block;
  margin: 5px 0;
  padding: 2px 0 2px 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
