body {
    background: #d4e9ec;
    color: #000;
    font-family: "Myriad Pro", "Lucida Grande", Verdana, Arial, Sans-Serif;
}

a:link, a:visited {
    color: #00688B;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    font-size: 4em;
}

.ribbon {
  background-color: hsl(227, 28%, 16%);
  overflow: hidden;
  position: absolute;
  right: -3em;
  top: 2.5em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px dotted hsl(205, 10%, 52%);
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0 1px 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.5em #444;
}
